name: Workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    RunUnitTests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Install requirements
              run: pip install -r requirements.txt
            - name: Install chromedrivers
              uses: nanasess/setup-chromedriver@v2
              with:
                  chromedriver-version: '141.0.7390.78'
            - name: Run behave for fangamer
              run: behave fangamer/features
            - name: Run behave for godotengine
              run: behave godotengine/features
