name: Workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    RunUnitTests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.11'
            - name: Update pip
              run: python -m pip install --upgrade pip
            - name: Install requirements
              run: pip install -r requirements.txt
            - name: Install chrome
              uses: browser-actions/setup-chrome@v2
              with:
                  install-chromedriver: true
            - name: Run behave for fangamer
              working-directory: fangamer
              run: behave
            - name: Run behave for godotengine
              run: behave godotengine/features
